{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>
        Cook Me Up
    </title>
    <meta content="" name="description">
    <meta content="" name="author">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#fff">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport" />
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/skeleton.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png">
</head>

<body>
    <!-- Content
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% block content %}
      {% endblock %}

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


  
  
</body>

</html>
